/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


/* Base Styles */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F9FAFB;
}

input:focus, input:hover {
    outline: none;
}

textarea::placeholder{
    font-family: 'Poppins', sans-serif;
}

textarea:focus, textarea:hover{
    outline: none;
}

button:hover{
    cursor: pointer;
}

a {
    color: black;
    text-decoration: none;
}


/* Post CSS */
.main {
    display: flex;
}

/* .first-column{
    flex: 1;
    margin: 0;
    padding: 0;
} */

.profile-bg {
    height: 120px!important;
    font-size: 2rem;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: url('./../assets/wall.jpg'); */
}

#feed {
    width: 50%;
    /* width: 50%;
    margin: 0 auto; */
    /* flex: 2; */
}

.first-column {
    width: 30%;
    /* flex: 1; */
}

.chat {
    width: 20%;
    height: 100%;
}
.post-item {
    background: white;
    border-radius: 16px;
    margin: 2rem auto;
    box-shadow:0 0 15px 0 rgba(0,0,0,0.03), 0 20px 40px 10px rgba(224,224,224,0.2);
    display: flex;
    flex-direction: column;
    padding: 2rem;
}


.post-author {
    font-weight: 600;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}

.post-author .post-avatar {
    width: 40px;
    height: 40px;
    margin-right: 1rem;
}

.post-avatar img {
    border-radius : 50%;
    width: 40px;
    box-shadow: #EBF2FF;
    margin-bottom: 0.5rem;
}

.post-desc {
    margin-top: 2rem;
    font-size: 0.8rem;
    color: rgb(161, 161, 161);
}

.chat,.friends, .profile-bg {
    background: white;
    border-radius: 16px;
    margin: 2rem;
    box-shadow:0 0 15px 0 rgba(0,0,0,0.03), 0 20px 40px 10px rgba(224,224,224,0.2);
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.chat h3, .friends h3 {
    color: rgb(112, 112, 112);
    letter-spacing: 0.25mm;
    margin: 1rem;
    padding: 1rem 1rem;
    border-bottom: 1px solid gray;
}


.online-user {
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    border-radius: 8px;
    margin: 1rem;
    /* width: 100%; */
    font-weight: 600;
    font-size: 0.9rem;
    box-shadow:0 0 15px 0 rgba(0,0,0,0.03), 0 20px 40px 10px rgba(224,224,224,0.2);

}

.online-user div {
    display: flex;
    align-items: center;
}




.online-user .green-dot {
    width: 10px;
    height: 10px;
    background-color: #00A400;
    border-radius: 50%;
    margin-right: 1rem;
}